{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title> j
    {% include 'apps/parts/stylesheets.html' %}
</head>
<body>
<div id="load">
    <div class="load__content">
        <div class="load__icon"><img src="{% static 'apps/assets/images/icons/load.gif' %}" alt="Loading icon"/></div>
    </div>
</div>
{% include 'apps/parts/header.html' %}
<div id="content">
    {% block content %}{% endblock %}
</div>
<div id="content">
    {% block body_content %}{% endblock %}
</div>
</body>
<div>

</div>
{% include 'apps/parts/scripts.html' %}
</html>

