{% load static %}
{#{% include 'apps/parts/scripts.html' %}#}
<div class="col-12 col-md-5 col-lg-4 order-md-2">
    <div class="blog-sidebar">
        <div class="blog-sidebar-section -category">
            <div class="center-line-title">
                <h5>Categories</h5>
            </div>
            {% for category in categories %}
                <a class="category -bar " href="{% url 'blog' %}">
                    <!--Category 1::Background Image size is 340 x 80   -->
                    <div class="category__background"
                         style="background-image: url({{ category.image.url }})"></div>
                    <h5 class="title">{{ category.title }}</h5>
                    <h5 class="quantity">{{ category.post_set.count }}</h5>
                </a>
            {% endfor %}
        </div>
        <div class="blog-sidebar-section -trending-post">
            <div class="center-line-title">
                <h5>Trending post</h5>
            </div>
            <!--Trending Post 1 -->
            {% for post in last_posts %}
                <div class="trending-post">
                    <div class="trending-post_image">
                        <div class="rank">{{ forloop.counter }}</div>
                        <!--Img size is 100 x 100 -->
                        <img src="{% static 'apps/assets/images/backgrounds/trending-post-a.png' %}"
                             alt="Web Accesibility For Beginers..">
                    </div>
                    <div class="trending-post_content">
                        <!-- Category Header -->
                        <h5>Web Development</h5>
                        <a href="{% url 'post' post.slug %}">Web Accesibility For Beginers..</a>
                        <div class="info__time"><i class="far fa-clock"></i>
                            <p>Nov 02, 2020</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form class="subcribe-box subcribe-box" action="/" method="POST">
            <h5>Subcribe</h5>
            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.</p>
            <label>
                <input placeholder="Your email" name="email" type="email">
            </label>
            <a class="btn-normal" href="#">Subcribe</a>
        </form>
    </div>
</div>


<div class="social-media">
    <a href="#" style="background-color: #075ec8">
        <i class="fab fa-facebook-f"></i>
    </a>
    <a href="#" style="background-color: #40c4ff">
        <i class="fab fa-twitter"></i>
    </a>
    <a href="#"
       style="background-image: linear-gradient(to top, #f2a937, #d92e73, #9937b7, #4a66d3), linear-gradient(to top, #af00e1, #ff9e35)">
        <i class="fab fa-instagram"></i>
    </a>
    <a href="#" style="background-color: #ff0000">
        <i class="fab fa-youtube"></i>
    </a>
</div>