{% load static %}
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -about">
                        <div class="center-line-title">
                            <h5>About us</h5>
                        </div>
                        <p>this area for description </p>
                        <div class="contact-method">
                            <p><i class="fas fa-map-marker-alt"></i>Uzbekistan|Tashkent </p>
                            <p><i class="far fa-mobile-android"></i>+998 99 399 32 33</p>
                            <p><i class="far fa-envelope-open"></i>adkhamjonmakmudov@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -feature-post">
                        <div class="center-line-title">
                            <h5>Feature posts</h5>
                        </div>
                        <div class="feature-post-block">
                            {% for feature_post in feature_posts %}
                            <div class="post-card -tiny">
                                <a class="card__cover" href="{% url 'post' feature_post.slug %}">
                                    <!-- img size 360 x 360 -->
                                    <img src="{{ feature_post.image.url }}"
                                         alt="">
                                </a>
                                <div class="card__content">
                                    <h5 class="card__content-category">{{ feature_post.category }}</h5>
                                    <a class="card__content-title" href="{% url 'post' feature_post.slug %}">{{ feature_post.title }}</a>
                                    <div class="card__content-info">
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ feature_post.created_at }}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer-col -util">
                        <div class="row">
                            <!-- Blog Tags -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Blog Tags</h5>
                                </div>
                                <div class="tags-group"><a class="tag-btn" href="{% url 'blog' %}">Fuse</a>
                                    <a class="tag-btn" href="{% url 'blog' %}">Web Development</a>
                                    <a class="tag-btn" href="{% url 'blog' %}">Ui / Ux</a>
                                    <a class="tag-btn" href="{% url 'blog' %}">Open source</a>
                                    <a class="tag-btn" href="{% url 'blog' %}">Productivity</a>
                                    <a class="tag-btn" href="{% url 'blog' %}">Github</a>
                                </div>
                            </div>
                            <!-- Social Media -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Follow us</h5>
                                </div>
                                <div class="social-block"><a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020, Fuse - All rights reserved.</p>
        </div>
    </div>
</footer>