{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
<header class="theme-default">
    <div id="search-box">
        <div class="container">
            <form action="/" method="POST">
                {% csrf_token %}
                <input type="text" id="user-input" placeholder="Searching for news" name="find"/>
                <button><i class="fas fa-arrow-right"></i></button>
            </form>
            <ul class="list-group d-none style-2" id="replaceable-content" style="border: none"></ul>
        </div>
    </div>
    <div class="container">
        <div class="header-wrapper">
            <a class="header__logo" href="{% url 'index' %}"><img src="{% static 'apps/assets/images/logo1.png' %}" alt="Logo"></a>
            <nav>
                <ul>
                    <li class="nav-item {% if request.path == '/' %}active{% endif %}"><a
                            href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item  {% if request.path == '/category' %}active{% endif %}"><a
                            href="{% url 'blog' %}">Blog</a></li>
                    <li class="nav-item {% if request.path == '/about' %}active{% endif %}"><a href="{% url 'about' %}">About</a>
                    </li>
                    <li class="nav-item {% if request.path == '/contact' %}active{% endif %}"><a
                            href="{% url 'contact' %}">Contact</a></li>
                </ul>
            </nav>
            <div>
                <div class="header__icon-group">
                    <div class="header__icon-group">
                        <a href="#" id="search">
                            <i class="fas fa-search"></i>
                        </a>
                    </div>
                    <div class="social">
                        <a href="#">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-telegram-plane"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-github"></i>
                        </a>
                        <a href="#">
                            <i class="fab fa-"></i>
                        </a>
                        <a id="mobile-menu-controller" href="#">
                            <i class="fas fa-bars"></i>
                        </a>
                    </div>
                </div>
                {% if user.is_anonymous %}
                    <a class="btn btn-outline-danger" href="{% url 'register' %}">Sign up</a>
                    <a class="btn btn-outline-danger" href="{% url 'login' %}">Sign in</a>
                {% else %}
                    <a href="{% url 'create_post' %}" class="btn btn-outline-warning"><i style="font-size:12px"
                                                                                         class="fa">&#xf067;Create
                        post</i></a>
                    <a class="btn btn-outline-danger" href="{% url 'logout' %}">Logout</a>
                    <a class="btn btn-outline-info" href="{% url 'profile' user.pk %}">Profile</a>
                    <h4>{{ user.username }}</h4>
                {% endif %}
            </div>
        </div>
    </div>


</header>
