{% load static %}
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&amp;display=swap"/>
<link rel="stylesheet" href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css"/>
<link rel="shortcut icon" type="image/png" href="{% static 'apps/assets/images/favicon.png' %}"/>
<link rel="stylesheet" href="{% static 'apps/assets/css/elegant.css' %}"/>
<link rel="stylesheet" href="{% static 'apps/assets/css/custom_bootstrap.css' %}"/>
<link rel="stylesheet" href="{% static 'apps/assets/css/slick.css' %}"/>
<link rel="stylesheet" href="{% static 'apps/assets/css/plyr.min.css' %}"/>
<!-- cutom css -->
<link rel="stylesheet" href="{% static 'apps/assets/css/style.css' %}"/>


<style>
    .list-group {
        max-height: 50vh;
        overflow-y: scroll;
        overflow-x: hidden;
        width: 58.99vw;
    }

    .list-group-item {
        font-size: 24px;
        width: 100%;
    }

    .list-group-item:hover {
        color: #FF273C !important;
        background-color: #e0fffe;
    }

    .list-group-item img {
        width: 40px;
        height: 40px;
        margin: 3px 15px;
        border-radius: 999px;
        vertical-align: center;
    }

    .list-group-item:first-child {
        border-radius: 11px 0 0 0;
    }

    .list-group-item:last-child {
        border-radius: 0 0 0 11px;
    }


    .style-2::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        border-radius: 0 18px 18px 0;
        background-color: #F5F5F5;
    }

    .style-2::-webkit-scrollbar {
        width: 12px;
        background-color: #F5F5F5;
        border-radius: 0 18px 18px 0;
    }

    .style-2::-webkit-scrollbar-thumb {
        border-radius: 0 18px 18px 0;
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
        background-color: #FF273C;
    }
</style>