   body{margin-top:20px;
    color: #9b9ca1;
    }
    .bg-secondary-soft {
    background-color: rgba(208, 212, 217, 0.1) !important;
    }
    .rounded {
    border-radius: 5px !important;
    }
    .py-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
    }
    .px-4 {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    }
    .file-upload .square {
    height: 250px;
    width: 250px;
    margin: auto;
    vertical-align: middle;
    border: 1px solid #e5dfe4;
    background-color: #fff;
    border-radius: 5px;
    }
    .text-secondary {
    --bs-text-opacity: 1;
    color: rgba(208, 212, 217, 0.5) !important;
    }
    .btn-success-soft {
        color: #28a745;
    }
