{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'apps/auth/as/material-design-iconic-font.min.css' %}">

    <link rel="stylesheet" href="{% static 'apps/auth/as/style.css' %}">
    <meta name="robots" content="noindex, follow">
</head>
<body>
<div class="main">
    {% block main_content %}{% endblock %}
</div>
<script src="https://unpkg.com/imask"></script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script src="{% static 'apps/auth/js/beacon.js' %}"></script>
<script src="{% static 'apps/auth/js/phonemaker.js' %}"></script>
</body>
</html>