{% extends 'apps/parts/base.html' %}
{% load static %}
{% include '../apps/static/apps/profile/css/prfileniki.css' %}
{% block content %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
          integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA=" crossorigin="anonymous"/>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <!-- Page title -->
                <div class="my-5">
                    <h3>My Profile</h3>
                    <hr>
                </div>
                <!-- Form START -->
                <form class="file-upload">
                    <div class="row mb-5 gx-5">
                        <!-- Contact detail -->
                        <div class="col-xxl-8 mb-5 mb-xxl-0">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0">Contact detail</h4>
                                    <!-- First Name -->
                                    <div class="col-md-6">
                                        <label class="form-label">First Name *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="First name"
                                               value="{{ user.first_name }}" name="first_name">
                                    </div>
                                    <!-- Last name -->
                                    <div class="col-md-6">
                                        <label class="form-label">Last Name *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Last name"
                                               value="{{ user.last_name }}" name="last_name">
                                    </div>
                                    <!-- Phone number -->
                                    <div class="col-md-6">
                                        <label class="form-label">Phone number *</label>
                                        <input type="text" class="form-control" placeholder="" aria-label="Phone number"
                                               value="{{ user.phone }}" name="phone">
                                    </div>
                                    <!-- Email -->
                                    <div class="col-md-6">
                                        <label for="inputEmail4" class="form-label">Email </label>
                                        <input type="email" class="form-control" id="inputEmail4"
                                               value="{{ user.email }}" name="email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="inputBio">Biography</label>
                                        <textarea class="form-control" id="inputBio" style="height: 100px"
                                                  placeholder="Enter your Bio" name="bio"
                                                  required> {{ user.bio }}</textarea>
                                    </div>
                                </div> <!-- Row END -->
                            </div>
                        </div>
                        <!-- Upload profile -->
                        <div class="col-xxl-4">
                            <div class="bg-secondary-soft px-4 py-5 rounded">
                                <div class="row g-3">
                                    <h4 class="mb-4 mt-0">Upload your profile photo</h4>
                                    <div class="text-center">
                                        <!-- Image upload -->
                                        <img class="img-account-profile rounded-circle mb-2"
                                                {% if user.image %}
                                             src="{{ user.image.url }}"
                                             width="150" height="150">
                                                {% endif %}
                                        <!-- Profile picture help block-->
                                        <div class="small font-italic text-muted mb-4">JPG or PNG no larger than 5
                                            MB
                                        </div>
                                        <!-- Profile picture upload button-->
                                        <input type="file" name="image" class="small mb-2"
                                               accept="image/png, image/jpeg">
                                    </div>

                                    <p class="text-muted mt-3 mb-0"><span class="me-1">Note:</span>Minimum size
                                        300px x 300px</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div> <!-- Row END -->

            <!-- Social media detail -->
            <div class="row mb-5 gx-5">
                <div class="col-xxl-6 mb-5 mb-xxl-0">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <div class="row g-3">
                            <h4 class="mb-4 mt-0">Social media detail</h4>
                            <!-- Facebook -->
                            <div class="col-md-6">
                                <label class="form-label"><i
                                        class="fab fa-fw fa-facebook me-2 text-facebook"></i>Facebook *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Facebook"
                                       value="http://www.facebook.com">
                            </div>
                            <!-- Twitter -->
                            <div class="col-md-6">
                                <label class="form-label"><i class="fab fa-fw fa-twitter text-twitter me-2"></i>Twitter
                                    *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Twitter"
                                       value="http://www.twitter.com">
                            </div>
                            <!-- Linkedin -->
                            <div class="col-md-6">
                                <label class="form-label"><i
                                        class="fab fa-fw fa-linkedin-in text-linkedin me-2"></i>Linkedin
                                    *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Linkedin"
                                       value="http://www.linkedin.com">
                            </div>
                            <!-- Instragram -->
                            <div class="col-md-6">
                                <label class="form-label"><i
                                        class="fab fa-fw fa-instagram text-instagram me-2"></i>Instagram
                                    *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Instragram"
                                       value="http://www.instragram.com">
                            </div>
                            <!-- Dribble -->
                            <div class="col-md-6">
                                <label class="form-label"><i
                                        class="fas fa-fw fa-basketball-ball text-dribbble me-2"></i>Dribble
                                    *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Dribble"
                                       value="http://www.dribble.com">
                            </div>
                            <!-- Pinterest -->
                            <div class="col-md-6">
                                <label class="form-label"><i class="fab fa-fw fa-pinterest text-pinterest"></i>Pinterest
                                    *</label>
                                <input type="text" class="form-control" placeholder="" aria-label="Pinterest"
                                       value="http://www.pinterest.com">
                            </div>
                        </div> <!-- Row END -->
                    </div>
                </div>
                <!-- change password -->
                <div class="col-xxl-6">
                    <div class="bg-secondary-soft px-4 py-5 rounded">
                        <h4 class="my-4">Change Password</h4>
                        <!-- New password -->
                        <div class="col-md-12">
                            <label for="exampleInputPassword3" class="form-label">New Password *</label>
                            <input type="password" class="form-control" id="exampleInputPassword3">
                        </div>
                        <!-- Confirm password -->
                        <div class="col-md-12">
                            <label for="exampleInputPassword3" class="form-label">Confirm Password *</label>
                            <input type="password" class="form-control" id="exampleInputPassword3">
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- Row END -->
        <!-- button -->
        <div class="gap-3 d-md-flex justify-content-md-end text-center">
            <input class="btn btn-info" type="submit" value="Save changes">
        </div>
        {#        </form> <!-- Form END -->#}
    </div>

{% endblock %}
