{% extends 'apps/parts/base.html' %}
{% load static %}
{% block title %}About{% endblock %}
{% block content %}
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'index' %}"> <i class="fas fa-home"></i>Home</a></li>
                <li class="active"><a href="#">Contact us</a></li>
            </ul>
        </div>
        <div class="contact-us">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="contact-us__info">
                        <div class="contact-method__item"><i class="fas fa-map-marker-alt"></i>
                            <p>Uzbekistan | Tashkent </p>
                        </div>
                        <div class="contact-method__item"><i class="fas fa-mobile-alt"></i>
                            <p>+998993993233 | @gucci_3233</p>
                        </div>
                        <div class="contact-method__item"><i class="far fa-envelope-open"></i>
                            <p>adkhamjonmakmudov@gmail.com</p>
                        </div>
                    </div>
                </div>
                <div class="contact-us__social">
                    <h3 class="contact-title">About Us</h3>
                    <div class="social-block"><a href="#"><i class="fab fa-facebook-f"></i></a><a href="#"><i
                            class="fab fa-twitter"></i></a><a href="#"><i class="fab fa-instagram"></i></a><a
                            href="#"><i class="fab fa-dribbble"></i></a></div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="subcribe-bar">
            <div class="row">
                <div class="col-12 col-md-6">
                    <div class="subcribe-bar__content">
                        <h5>Don’t miss our future updates!</h5>
                        <h3>Get Subscribe today!</h3>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    <form class="subcribe-bar__form" action="/">
                        <label>
                            <input type="text" placeholder="You email"/>
                        </label>
                        <button class="btn btn-danger">Subcribe</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{#https://colorlib.com/wp/free-personal-website-templates/#}