{% extends 'apps/parts/base.html' %}
{% load static %}
{% block title %}Blog-Category{% endblock %}

{% block content %}
    <div class="container">
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'index' %}"> <i class="fas fa-home"></i>Home</a></li>
                <li><a href="#">Blog</a></li>
                <li class="active"><a href="#">Category</a></li>
            </ul>
        </div>
        <div class="category">
            <div class="row">
                <div class="col-12 col-md-5 col-lg-4 order-md-2">
                    <div class="blog-sidebar">
                        <div class="blog-sidebar-section -category">
                            <div class="center-line-title">
                                <!-- Blog category sidebar -->
                                <h5>Categories</h5>
                            </div>
                            {% for category in categories %}
                                <a class="category -bar " href="{% url 'blog' %}?category={{ category.slug }}">
                                    <!--Category 1::Background Image size is 340 x 80   -->
                                    <div class="category__background"
                                         style="background-image: url({{ category.image.url }})"></div>
                                    <h5 class="title">{{ category.name }}</h5>
                                    <h5 class="quantity">{{ category.post_set.count }}</h5></a>
                            {% endfor %}
                        </div>
                        <!-- Trending Post Side Bar Section-->
                        <div class="blog-sidebar-section -trending-post">
                            <div class="center-line-title">
                                <h5>Trending post</h5>
                            </div>
                            {% for last_post in last_posts %}
                                <div class="trending-post">
                                    <div class="trending-post_image">
                                        <div class="rank">{{ forloop.counter }}</div>
                                        <!--Img size is 100 x 100 -->
                                        <img src="{{ last_post.image.url }}"
                                             alt="rasm chqmadi.."/>
                                    </div>
                                    <div class="trending-post_content">
                                        <!-- Category Header -->
                                        <h5>{{ last_post.category }}</h5>
                                        <a href="{% url 'post' last_post.slug %}">{{ last_post.title }}</a>
                                        <div class="info__time"><i class="far fa-clock"></i>
                                            <p>{{ last_post.created_at }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <!-- Subscribe Form -->
                        <form class="subcribe-box subcribe-box" action="/" method="POST">
                            <h5>Subcribe</h5>
                            <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.</p>
                            <label>
                                <input placeholder="Your email" name="email" type="email"/>
                            </label>
                            <a class="btn btn-danger" href="#">Subcribe</a>
                        </form>
                    </div>
                </div>
                <div class="col-12 col-md-7 col-lg-8 order-md-1">
                    <div class="category__header">
                        <div class="category__header__text">
                            <h5>Categories:</h5><a href="#">Web Development</a>
                        </div>
                        <div class="category__header__filter">
                        </div>
                    </div>
                    <div class="category_content">
                        {% for post in posts %}
                            <div class="col-12">
                                <div class="post-card -small -horizontal">
                                    <a class="card__cover" href="{% url 'post' post.slug %}" tabindex="0"><img
                                            src="{{ post.image.url }}"
                                            alt="nmadur"></a>
                                    <div class="card__content">
                                        <h5 class="card__content-category">{{ post.category.first }}</h5>
                                        <a class="card__content-title" href="{% url 'post' post.slug %}"
                                           tabindex="0">{{ post.title }}</a>
                                        <div class="card__content-info">
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>{{ post.created_at }}</p>
                                            </div>
                                            <div class="info__comment"><i class="far fa-comment"></i>
                                                <p>3</p>
                                            </div>
                                        </div>
                                        <p class="card__content-description">{{ post.content|safe|striptags }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="pagination">
                        {% if page_obj.has_other_pages %}
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
                                {% endif %}
                                {% for i in page_obj.paginator.page_range %}
                                    {% if page_obj.number == i %}
                                        <li class="active"><a>{{ i }}</a>
                                        </li>
                                    {% else %}
                                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
                                {% else %}
                                {% endif %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}