{% extends 'apps/parts/base.html' %}
{% load static %}
{% block title %}
    Create Post
{% endblock %}
{% block content %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <div class="container">
        <div class="col-md-12">
            {{ form.errors }}
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <label>
                    <input type="text" name="user" value="{{ user.pk }}" hidden>
                </label>
                <div class="row" style="display: grid; grid-template-columns: 8fr 1fr;">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <label for="formFile" class="form-label">Post Image</label>
                                <input name="image" class="form-control" type="file" accept="image/*" id="formFile">
                            </div>
                            <div class="col">
                                <label for="formFileSm" class="form-label">Post Title</label>
                                <input name="title" class="form-control" type="text" placeholder="Title"
                                       aria-label="default input example">
                            </div>
                        </div>
                        <div class="row" style="padding: 13px;border-radius: .375rem;">
                            <label for="editor1"></label><textarea name="content" id="editor1" rows="10"
                                                                   cols="80"></textarea>
                        </div>
                    </div>
                    <div class="col">
                        <label class="required" for="id_category">Categories</label>
                        <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
                        <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
                        <script>
                            CKEDITOR.replace('editor1', {
                                width: "100%",
                            });
                        </script>
                        <div class="container rounded bg-white mt-5 mb-5">
                            <div class="related-widget-wrapper" data-model-ref="category" style="width: 300%">
                                <select name="category" required="" id="id_category" multiple=""
                                        style="margin-top: 7px;border: 1px solid #fd7e14;border-radius: .375rem;  width: 100%;height: 100%;">
                                    {% for category in categories %}
                                        <option value="{{ category.pk }}">{{ category.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="card-img-bottom">
                            <button type="submit" class="btn btn-dark"
                                    style="border-radius: 15px;transition: .5s ease-in-out">Send
                            </button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}