{% extends 'apps/parts/base.html' %}
{% block title %} Home {% endblock title %}
{% block content %}
    {% load static %}
        <div class="container">
            <div class="blog-with-sidebar">
                <div class="row">
                    <!-- Right side bar starts here which contains the Category & Trending Post -->
                    <div class="col-12 col-md-5 col-lg-4 order-md-2">
                        <div class="blog-sidebar">
                            <div class="blog-sidebar-section -category">
                                <div class="center-line-title">
                                    <!-- Blog category sidebar -->
                                    <h5>Categories</h5>
                                </div>
                                {% for category in categories %}
                                    <a class="category -bar " href="{% url 'blog' %}">
                                        <!--Category 1::Background Image size is 340 x 80   -->
                                        <div class="category__background"
                                             style="background-image: url({{ category.image.url }})"></div>
                                        <h5 class="title">{{ category.name }}</h5>
                                        <h5 class="quantity">{{ category.post_set.count }}</h5></a>
                                {% endfor %}
                            </div>
                            <!-- Trending Post Side Bar Section-->
                            <div class="blog-sidebar-section -trending-post">
                                <div class="center-line-title">
                                    <h5>Trending posts</h5>
                                </div>
                                {% for last_post in last_posts|slice:5 %}
                                    <div class="trending-post">
                                        <div class="trending-post_image">
                                            <div class="rank">{{ forloop.counter }}</div>
                                            <img src="{{ last_post.image.url }}"
                                                 alt="{{ post.content|safe|striptags|truncatechars:50 }}"/>
                                        </div>
                                        <div class="trending-post_content">
                                            <!-- Category Header -->
                                            <h5>{{ last_post.category.first }}</h5>
                                            <a href="{% url 'post' last_post.slug %}">{{ last_post.title }}</a>
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>{{ last_post.created_at }}</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                            <!-- Subscribe Fo  rm -->
                            <form class="subcribe-box subcribe-box" action="/" method="POST">
                                <h5>Subcribe</h5>
                                <p>Lorem ipsum dolor amet, consectetur adipiscing elit, sed tempor.</p>
                                <label>
                                    <input placeholder="Your email" name="email" type="email"/>
                                </label>
                                <a class="btn btn-danger" href="#">Subcribe</a>
                            </form>
                        </div>
                    </div>
                    <!--- End of Right Side Bar ----->
                    <div class="col-12 col-md-7 col-lg-8 order-md-1">
                        <div class="row">
                            <div class="col-sm-6 col-md-12">
                                <div class="post-card -full -center">
                                    <a class="card__cover" href="{% url 'post' last_post.slug %}">
                                        <img style="height: 580px" src="{{ last_post.image.url }}"
                                             alt="{{ post.content|safe|striptags|truncatechars:50 }}"/>
                                    </a>
                                    <div class="card__content">
                                        <!-- Content Category -->
                                        <h5 class="card__content-category">{{ last_post.category.first }}</h5>
                                        <!-- Content Heading -->
                                        <a class="card__content-title"
                                           href="{% url 'post' last_post.slug %}">{{ last_post.title |safe }}</a>
                                        <div class="card__content-info">
                                            <!-- Content Author -->
                                            <div class="info__time info__author"><i class="far fa-user"></i>
                                                <p>{{ last_post.author }}</p>
                                            </div>
                                            <!-- Content Time and Date -->
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>{{ last_post.created_at }}</p>
                                            </div>
                                            <!-- Comments -->
                                            <div class="info__comment"><i class="far fa-comment"></i>
                                                <p>{{ last_post.comment_count }}</p>
                                            </div>
                                        </div>
                                        <!-- post Description -->
                                        <p class="card__content-description">{{ last_post.content |safe }}</p>
                                        <a class="more-btn" href="{% url 'blog' %}">Read more </a>
                                    </div>
                                </div>
                            </div>
                            <div class="news-block__content -default">
                                <div class="news-block__content__slide">
                                    <div class="row">
                                        <div class="col-12">
                                            <div class="row">
                                                {% for post in last_posts %}
                                                    <div class="col-12 col-sm-6">
                                                        <div class="post-card -small">
                                                            <a class="card__cover" href="{% url 'post' post.slug %}">
                                                                <!-- img size 370 x 247 -->
                                                                <img style="width: 300px" src="{{ post.image.url }}"
                                                                     alt="{{ post.content|safe|striptags|truncatechars:50 }}"/></a>
                                                            <!-- Post content -->
                                                            <div class="card__content">
                                                                <h5 class="card__content-category">{{ post.category.first }}</h5>
                                                                <a class="card__content-title"
                                                                   href="{% url 'post' post.slug %}">{{ post.title |safe }}</a>
                                                                <div class="card__content-info">
                                                                    <div class="info__time"><i class="far fa-clock"></i>
                                                                        <p>{{ post.created_at }}</p>
                                                                    </div>
                                                                    <div class="info__comment"><i
                                                                            class="far fa-comment"></i>
                                                                        <p>{{ post.comment_count }}</p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock content %}

