{% extends 'apps/parts/base.html' %}
{% load static %}
{% block title %}Post{% endblock %}
{% block content %}
    <div class="container">
        <div class="center">
            <div class="post-standard__banner">
                <div class="post-standard__banner__image">
                    <img src="{{ post.image.url }}" alt="Post banner image" width="650" height="600">
                </div>
                <div class="post-standard__banner__content">
                    <div class="post-card -center">
                        <div></div>
                        <div class="card__content">
                            <h5 class="card__content-category">{{ post.category.first }}</h5>
                            <a class="card__content-title" href="{% url 'post' post.slug %}">{{ post.title }}</a>
                            <div class="post-standard__content">
                                <p class="paragraph">{{ post.content|safe|striptags }}
                                </p>
                                <div class="card__content-info">
                                    <div class="info__time"><i class="far fa-clock"></i>
                                        <p>{{ post.created_at|date:'D d, Y' }}</p>
                                    </div>
                                    <div class="info__comment"><i class="far fa-comment"></i>
                                        <p>{{ post.comment_count }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-12 col-md-8 mx-auto">

                        <div class="post-footer__author">
                            <div class="author__avatar">
                                <!-- img size 150 x 150 -->
                                <img src="../../media/default.png"
                                     alt="Author avatar"/>
                            </div>
                            <!-- Author Info -->
                            <div class="author__info">
                                <h5>{{ post.author }}</h5>
                                <p>{{ user.bio }}</p>
                                <!-- social Media -->
                                <div class="social-media">
                                    <a href="#"><i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#"><i class="fab fa-telegram-plane"></i>
                                    </a>
                                    <a href="#"><i class="fab fa-instagram"></i>
                                    </a>
                                    <a href="#"><i class="fab fa-github"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <!-- Related Posts -->
                        <div class="post-footer__related">
                            <div class="post-footer__related__item -prev">
                                <!-- <a href="post_standard.html"> <i class="fas fa-chevron-left"></i>Previous posts</a> -->
                                <div class="post-footer__related__item__content">
                                    <!-- img size 360 x 360 -->
                                    <img src="{% static 'apps/assets/images/posts/webdesign.jpg' %}"
                                         alt="Relate news image"/>
                                    <div class="post-card ">
                                        <div></div>
                                        <div class="card__content">
                                            <h5 class="card__content-category">{{ post.category.first }}</h5>
                                            <a class="card__content-title" href="#">Best design resources
                                                websites every developer should bookmark</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post-footer__related__item -next">
                                <!-- <a href="#">Next posts<i class="fas fa-chevron-right"></i></a> -->
                                <div class="post-footer__related__item__content">
                                    <div class="post-card -right">
                                        <div></div>
                                        <div class="card__content">
                                            <h5 class="card__content-category">Open Source</h5>
                                            <a class="card__content-title" href="#">Best Open Source Tools For
                                                Developers</a>
                                        </div>
                                    </div>
                                    <img src="{% static 'apps/assets/images/posts/opensource.jpg' %}"
                                         alt="Relate news image"/>
                                </div>
                            </div>
                        </div>
                        <!-- comments  -->
                        <div class="post-footer__comment">
                            <h3 class="comment-title"><span>{{ comment.text }}</span></h3>
                            <div class="post-footer__comment__detail">

                                <div class="comment__item">
                                    <div class="comment__item__avatar">
                                        <img src="{{ user.image }}"
                                             alt="{{ post.content|safe|striptags|truncatechars:50 }}"/>
                                    </div>
                                    <div class="comment__item__content">
                                        <div class="comment__item__content__header">
                                            <h5>{{ comment.author }}</h5>
                                            <div class="data">
                                                <p><i class="far fa-clock"></i>Nov 02, 2020</p>
                                                <p><i class="far fa-heart"></i>12</p>
                                                <p><i class="far fa-share-square"></i>1</p>
                                            </div>
                                        </div>
                                        <p>Description-1.</p>
                                    </div>
                                </div>
                                <div class="comment__item">
                                    <div class="comment__item__avatar"><img
                                            src="{% static 'apps/assets/images/post_detail/avatar/3' %}.png"
                                            alt="Author avatar"/></div>
                                    <div class="comment__item__content">
                                        <div class="comment__item__content__header">
                                            <h5>Rodgers </h5>
                                            <div class="data">
                                                <p><i class="far fa-clock"></i>Nov 02, 2020</p>
                                                <p><i class="far fa-heart"></i>12</p>
                                                <p><i class="far fa-share-square"></i>1</p>
                                            </div>
                                        </div>
                                        <p>Description-2</p>
                                    </div>
                                </div>
                            </div>
                            <!-- comment Form -->
                            <h3 class="comment-title"><span>Leave a comment</span></h3>
                            <div class="post-footer__comment__form">
                                <form action="/">
                                    <div class="row">
                                        <div class="col-12 col-sm-4">
                                            <input type="text" placeholder="Name" name="name"/>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <input type="email" placeholder="Email" name="email"/>
                                        </div>
                                        <div class="col-12 col-sm-4">
                                            <input type="text" placeholder="Webiste" name="website"/>
                                        </div>
                                    </div>
                                    <textarea cols="30" rows="5" placeholder="Messages" name="message"></textarea>
                                </form>
                                <div class="center">
                                    <button class="btn btn-warning">Send</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
